<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjekAkhir_Kel05.Properties.Settings.PRG2_KEL05ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=PRG2_KEL05;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjekAkhir_Kel05.Properties.Settings.PRG2_KEL05ConnectionString1"
            connectionString="Data Source=LAPTOP-CIJN2E2A\SQLEXPRESS;Initial Catalog=PRG2_KEL05;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>